
<!--{{newQuiz.value | json}}-->
<mat-card class="mat-card">
    <form [formGroup]="newQuiz" (submit)="submit()">
        <mat-card-header>
            <mat-card-title class="formLeft" style="width: 20%;">Create New Quiz</mat-card-title>

            <div class="form-input formLeft">
                <mat-form-field class="answer">
                    <mat-label>Quiz Name</mat-label>
                    <input formControlName="quizName" name="quizName" matInput type="text">
                </mat-form-field>
            </div>

            <div class="form-input formRight">
                <mat-form-field class="answer">
                    <mat-label>Faculty Id</mat-label>
                    <input matInput formControlName="facultyId" name="facultyId" type="text">
                </mat-form-field>
            </div>
        </mat-card-header>
<br>
        <mat-card-content class="mat-card-content">

            <div>
                <mat-label>Quiz Questions:</mat-label>
            </div>
            <mat-tab-group [selectedIndex]="currentTab">
                <div class="form-input" formArrayName="listOfQuestions">
                    <mat-tab label="{{'Question '+(i+1)}}"
                        *ngFor="let fetchQuestion of listOfQuestions.controls; let i=index" [formGroupName]="i">
                        <br>
                        <mat-form-field class="question">
                            <mat-label>Quiz Question : {{i+1}} </mat-label>
                            <input matInput formControlName="question" name="question" type="text">
                        </mat-form-field>
                        <div>
                            <mat-form-field class="answer">
                                <mat-label>Answer:</mat-label>
                                <input matInput formControlName="answer" name="answer" type="text">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="answer">
                                <mat-label>Maximum Marks:</mat-label>
                                <input matInput formControlName="maximumMark" name="maximumMark" type="number" max="10"
                                    min="1">
                            </mat-form-field>
                        </div>
                        <ng-container formGroupName="options">

                            <mat-form-field class=" formLeft">
                                <input class="form-input" matInput formControlName="option1" placeholder="Option 1">
                            </mat-form-field>


                            <mat-form-field class=" formRight">
                                <input class="form-input" matInput formControlName="option2" placeholder="Option 2">
                            </mat-form-field>


                            <mat-form-field class=" formLeft">
                                <input class="form-input" matInput formControlName="option3" placeholder="Option 3">
                            </mat-form-field>


                            <mat-form-field class=" formRight">
                                <input class="form-input" matInput formControlName="option4" placeholder="Option 4">
                            </mat-form-field>


                            <mat-form-field class="formLeft">
                                <input class="form-input" matInput formControlName="option5" placeholder="Option 5">
                            </mat-form-field>


                        </ng-container>
                        <button class="formRight" (click)="removeQuestion(i)" mat-raised-button color="warn"
                            style="width: 10%;">Remove Question</button>
                    </mat-tab>
                </div>

            </mat-tab-group>

        </mat-card-content>
        <br>
        <mat-card-actions align="end">
            <button (click)="addQuestion()" mat-raised-button type="button" color="warn">Add Question</button>
            <button type="submit" mat-raised-button color="warn">Submit</button>
        </mat-card-actions>
    </form>
</mat-card>